body {
    text-align: center;
    
    background-color: #95cdff;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbaritem {
    padding-left: 5px;
    padding-right: 20px;
}

/* Desktop */
@media (max-width: 1440px) {
    
}

/* Tablet */
@media (max-width: 1024px) {
    
}

/* Phone */
@media (max-width: 600px) {
    
}

img {
    max-width: 100%;
    height: auto;
}

#navbarlist {
    list-style-type: none;
    display: flex;
}

footer {
    text-align: center; 
    line-height: normal; 
    margin-top: 30px;
    padding-top: 30px;;
    clear: left;
    background-color: aliceblue;
}