* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: black;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    
    justify-content: flex-end;
    align-items: center;
}

.navbar li {
    height: 50px;
}

.navbar a {
    text-decoration: none;
    color: white;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;

}

.navbar a:hover {
    color: cadetblue;
}

.navbar li:first-child {
    margin-right: auto;
}

.navbar .sidebar {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(14, 14, 14);
    box-shadow: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}


img {
    max-width: 100%;
}


footer {
    text-align: center;
    line-height: normal;
    margin-top: 30px;
    padding-top: 30px;
    ;
    clear: left;
    background-color: aliceblue;
}

/* Desktop */
@media (min-width: 1440px) {}

/* Tablet */
@media (min-width: 1024px) {}

/* BASE LAYOUT Phone */
@media (max-width: 600px) {}