* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body a {
    text-decoration: none;
    color: cadetblue;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: black;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
}

.navbar .topNavbar .navbaritems{
    display: none;
    flex-direction: row;
}

.navbar li {
    height: 50px;
}

.navbar a {
    text-decoration: none;
    color: white;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;

}

.navbar a:hover {
    color: cadetblue;
}

.navbar li:first-child {
    margin-right: auto;
}

.navbar .sidebar {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(134, 134, 134, 0.2);
    box-shadow: black;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}


img {
    max-width: 100%;
}


footer {
    text-align: center;
    line-height: normal;
    margin-top: 30px;
    padding-top: 30px;
    ;
    clear: left;
    background-color: rgb(74, 74, 74);
}

.heroBanner {
    height: 65vh;
    overflow: hidden;
    position: relative;
}

.heroBanner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* This creates a black overlay with 40% opacity */
    background: rgba(0, 0, 0, 0.4); 
    /* Ensures the overlay is above the image but below the text */
    z-index: 1; 
}

.heroBanner img {
    display: inline-block;
    color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crops the image to fit without stretching or gaps */
    position: static;
}

.heroBanner h1 {
    font-size: clamp(1.5rem, 12vw, 4rem);
    margin: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #eeeeec;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.aboutUsWrapper {
    display: flex;
    margin-right: 20%;
    margin-left: 20%
}

/* Desktop */
@media (min-width: 1440px) {}

/* Tablet */
@media (min-width: 1024px) {
    /*this is for showing navbar items after resolution is greater than 1024px*/
    .navbar .topNavbar .navbaritems.showOnTablet {
        display: flex !important;
    }

    .hideBurger {
        display: none;
    }
}

/*Devices bigger than phones*/
@media (min-width: 600px) {
    
}

/* BASE LAYOUT is Phone */